@model QuestionVM

@{
    ViewData["Title"] = "Question";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @if (Model == null)
                {
                    <h1 class="m-0">Add</h1>
                }
                else
                {
                    <h1 class="m-0">Edit</h1>
                }
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Questions/Index/@ViewBag.ModelId">@ViewData["Title"]</a></li>
                    @if (Model == null)
                    {
                        <li class="breadcrumb-item active">Add</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active">Edit</li>
                    }
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header bg-success">
                <h3 class="card-title">Add &amp; Edit</h3>
            </div>
            <!-- /.card-header -->
            <form method="post" asp-action="Save">

                @if (Model == null)
                {
                    <input type="hidden" asp-for="Id" value="0">
                }
                else
                {
                    <input type="hidden" asp-for="Id">
                }

                @*Model Id*@
                <input type="hidden" asp-for="ModelId" value="@ViewBag.ModelId" />

                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Question Name:</label>
                        <input type="text" asp-for="QuestionName" class="form-control" id="exampleInputEmail1" placeholder="Enter Question">
                    </div>
                    <!-- /.form-group -->

                    <label class="mt-3">Add Answers:</label>

                    <div class="input-group d-flex align-items-center mb-2">
                        <strong class="mr-2">A: </strong>
                        <div class="input-group-prepend">
                            <span style="padding: 11px;" class="input-group-text"><input class="correct" name="correct" type="radio"></span>
                        </div>
                        <input type="text" asp-for="Q1" class="form-control">
                    </div>
                    <!-- /input-group -->
                    <div class="input-group d-flex align-items-center mb-2">
                        <strong class="mr-2">B: </strong>
                        <div class="input-group-prepend">
                            <span style="padding: 11px;" class="input-group-text"><input class="correct" name="correct" type="radio"></span>
                        </div>
                        <input type="text" asp-for="Q2" class="form-control">
                    </div>
                    <!-- /input-group -->
                    <div class="input-group d-flex align-items-center mb-2">
                        <strong class="mr-2">C: </strong>
                        <div class="input-group-prepend">
                            <span style="padding: 11px;" class="input-group-text"><input class="correct" name="correct" type="radio"></span>
                        </div>
                        <input type="text" asp-for="Q3" class="form-control">
                    </div>
                    <!-- /input-group -->
                    <div class="input-group d-flex align-items-center mb-2">
                        <strong class="mr-2">D: </strong>
                        <div class="input-group-prepend">
                            <span style="padding: 11px;" class="input-group-text"><input class="correct" name="correct" type="radio"></span>
                        </div>
                        <input type="text" asp-for="Q4" class="form-control">
                    </div>

                    <!-- /input-group -->
                    <div class="form-group mt-4">
                        <label for="exampleInputEmail1">Correct Answer:</label>
                        <input id="correct" asp-for="CorrectAnswer" type="text" class="form-control" readonly>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>

        </div>
        <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Notification");
    }
    <script>
        var res;
        $(".correct").click(function () {
            res = $(this).parent().parent().parent().find("input[type='text']").val();
            $("#correct").val(res);
        });

    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });

            //Date and time picker
            $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            })

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })

        })
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

        // DropzoneJS Demo Code Start
        Dropzone.autoDiscover = false

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template")
        previewNode.id = ""
        var previewTemplate = previewNode.parentNode.innerHTML
        previewNode.parentNode.removeChild(previewNode)

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        })

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file) }
        })

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
        })

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1"
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
        })

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0"
        })

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
        }
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true)
        }
            // DropzoneJS Demo Code End
    </script>
}
