@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="E-Exam">
    <meta name="keywords" content="E-Exam">
    <meta name="author" content="E-Exam">
    <link rel="icon" href="~/assets/logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/assets/logo.png" type="image/x-icon" />

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">

    <!-- Style css -->
    <link rel="stylesheet" href="~/assets/css/landing_page.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    @RenderSection("Styles", required: false)

    <title>Smart Exam</title>

</head>
<body data-spy="scroll" data-target="#scroll-spy">

    <!--header start-->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0">
                    <div class="top-header">
                        <div class="logo pl-2">
                            <a class="navbar-brand" href="index.html">
                                <img style="width: 50px;" src="assets/logo.png"
                                     alt="logo">
                            </a>
                        </div>
                        <div class="main-menu mx-auto" id="nav">
                            <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#scroll-spy" aria-controls="scroll-spy" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="scroll-spy">
                                    <ul class="navbar-nav mx-auto nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Subjects" asp-action="Index">Subjects</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Account" asp-action="Index">My Account</a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="dropdown">
                                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                                            Setting
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            @if(SignInManager.IsSignedIn(User))
                                            {
                                                <a class="dropdown-item" asp-controller="Users" asp-action="LogOut">LogOut</a>
                                            }
                                            else 
                                            {
                                                <a class="dropdown-item" asp-controller="Users" asp-action="LogIn">LogIn</a>
                                                <a class="dropdown-item" asp-controller="Users" asp-action="RegisterStudent">Register For Student</a>
                                                <a class="dropdown-item" asp-controller="Users" asp-action="RegisterDoctor">Register For Doctor</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header end-->
    
    @RenderBody()

    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap.js"></script>
    <!-- popper js-->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- wow js-->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js"></script>
    <!-- script js-->
    <script src="~/assets/js/landing-script.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        new WOW().init();
    </script>

    @RenderSection("Scripts", required: false);

</body>
</html>
